.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.site-window {
    width: 600px;
    height: 600px;
    border: 2px solid #999;
    border-radius: 8px;
}